
body{
background-image: url("54374-valorant.png");
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 16px;
    min-height: 40.62em;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;}

   

    .N-usuario{
        position: relative;
        text-align: center;
        top: -430px;
       left: 550px; ;
        transform: translate(50%, -50%s);
        width:200px ;
        background: #517cd88f;
        border-radius: 1px;
    } 
  .iconousuario{
    display: inline-block;

    left: 100px;
    
    
  }

    
    
    .favoritos{
  
        
        top: 300px;         
        left: 100px;        
        transform: translate(-50%, -50%s);
        width:200px ;
        background: #fd109ac2;
        border-radius: 15px;
    }
    .personajes{
        display: flex;
        background: #fd2c10c4;
        border-radius: 15px;
        top: auto;
        justify-content: center; 
  align-items: center;
    
        
    }
    